@{
    ViewData["Title"] = "Refund Policy";
    Layout = "_Layout";
}

<section class="page-title">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Refund Policy</h1>
            </div>
        </div>
    </div>
</section>

<main class="content">
    <div class="block-top-page news-news">
        <div class="content-news">
            <h2>We offer a 100% full refund on any order as long as it meets all the following criteria</h2>
            <p>
                1. The items have not been claimed in-game.<br>
                2. A refund is requested within 72 hours of placing the order.<br>
                3. The account it was purchased on was not banned for violating our terms and conditions.<br>
            </p>

            <h2>How to request a refund</h2>
            <p>
                To start the refund process, please send us an email at LegendConquer@gmail.com with the order ID you wish to refund.
                If your case doesn't meet these requirements, You aren't able to ask for a refund and disputing any refund case would cause a permanent banned to your account.
                LegendConquer staff will review your request and will generally notify you via email of the results within 3~4 business days.
            </p>
        </div>
    </div>
    <div class="toTop-fon">
        <div class="toTop" id="toTop"></div>
    </div>
</main>